<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
            rel="stylesheet"
        />
        <link href="/styles.css" rel="stylesheet" />
        <title>COUNTRIES QUIZ</title>
    </head>
    <body>
        <h1>🏴‍☠️ 🌍 CHECK YOUR KNOWLEDGE ! PICK THE RIGHT FLAG ? 🌎 🏳</h1>
        <button id="start-button">PLEASE, WAIT !!!</button>
        <main></main>
        <section id="player-points"></section>
        <script src="/socket.io/socket.io.js"></script>
        <script src="script.js"></script>
    </body>
</html>
