<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
            rel="stylesheet"
        />
        <link href="/styles.css" rel="stylesheet" />
        <title>COUNTRIES QUIZ</title>
    </head>
    <body>
        <h1 id="welcome">🏴‍☠️ 🌍 Welcome to the FLAG QUIZ 🌎 🏳</h1>
        <main>
            <form action="/create" method="POST">
                <label for="create"
                    >Play this game with friends or alone. Just click the
                    "Create Room"-button and you will be directed to a private
                    game room!</label
                >
                <input id="create" type="submit" value="CREATE ROOM" />
            </form>
        </main>
    </body>
</html>
