<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
            rel="stylesheet"
        />
        <link href="/styles.css" rel="stylesheet" />
        <title>COUNTRIES QUIZ</title>
    </head>
    <body id="room-page">
        <header>
            <h1>PICK THE RIGHT FLAG ? 🌎 🏳</h1>
        </header>
        <section id="wait-section">
            <div class="h4-container">
                <h4>Wait for players or play SOLO ???</h4>
                <h4>Send this url to friends:</h4>
                <textarea id="room-url"></textarea>
            </div>
            <button id="start-button">
                <span></span>
                <div>START ?!?</div>
            </button>
        </section>
        <p id="timer"></p>
        <main></main>
        <section id="player-points"></section>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/script.js"></script>
    </body>
</html>
