* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bangers", cursive;
}

body {
    background-color: #fed049;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
    background-color: #007580;
    padding: 10px;
}

main {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main h3 {
    width: 100%;
    text-align: center;
}

#start-button {
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    background-color: #d8ebe4;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #282846;
    z-index: 2;
}

.emoji {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

.flag {
    width: 50px;
    margin: 5px;
}

.flag:hover {
    border: 3px solid white;
}
