* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bangers", cursive;
}

body {
    background-color: #fed049;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
    background-color: #007580;
    padding: 10px;
    font-size: 3rem;
    margin-left: 50px;
}

#welcome {
    margin-left: 0;
}

form {
    position: relative;
}

[type="submit"] {
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    background-color: #d8ebe4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #282846;
    z-index: 2;
    cursor: pointer;
}

label {
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    max-width: 500px;
    margin-bottom: 10px;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h4-container {
    margin: 20vh 0 10vh 50px;
}

h4 {
    text-align: center;
    background-color: #d8ebe4;
    padding: 10px;
    font-size: 2rem;
}

#room-url {
    display: block;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    background-color: #d8ebe4;
    font-size: 2rem;
}

#start-button {
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    background-color: #d8ebe4;
    border: 5px solid #282846;
    margin-left: 50px;
}

main {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
}

main h3 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.emoji {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

.flag {
    width: 100px;
    margin: 5px;
}

.flag:hover {
    border: 6px solid white;
}

#player-points {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    min-height: 100vh;
    width: 50px;
    background-color: #282846;
}

#player-points h3 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #fed049;
    margin: 10px 0;
}

#player-points h3 a {
    color: #007580;
}

.points {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
}

#timer {
    position: absolute;
    top: 10vh;
    right: 50px;
    color: #282846;
    text-shadow: 0 0 10px #d8ebe4;
    font-size: 4rem;
    background-color: #fed049;
    height: 4.2rem;
    width: 4.2rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
}
